<%= form_with(model: [topic,post,rating], url: topic_posts_path(@topic,@post) , local: false) do |form| %>

  <fieldset class="rating">
  <p>Please rate:</p>
  <%= form.radio_button :stars, 5%> <%= form.label("Great") %>
  <%= form.radio_button :stars, 4%> <%= form.label("Good") %>
  <%= form.radio_button :stars, 3%> <%= form.label("Ok") %>
  <%= form.radio_button :stars, 2%> <%= form.label("Below Expected") %>
  <%= form.radio_button :stars, 1%> <%= form.label("Unsatisfied") %>
</fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
