<%= form_with(model: [@topic , post] , local:true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :author_name %>
    <%= form.text_field :author_name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

  <div>
    <%= form.label :tag %>
    <%= form.text_field :tags, value:post.tags.map(&:name).join(", ")%>
  </div>

<% end %>
