<%= form_with(model: [@topic , post], local:false, id: 'new_post') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: 'post-title' %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :description, id:'post-desp' %>
  </div>

  <div class="field">
    <%= form.hidden_field :author_name, value: current_user.email %>
  </div>

  <div class="field">
    <%= form.hidden_field :topic_id, value: @topic.id , id: "topic_id"%>
  </div>

  <div>
    <%= form.label :tag %>
    <%= form.text_field :name, value:post.tags.map(&:name).join(", ")%>
  </div>

  <% if @post.image.attached? %>
    <image src = "<%= url_for(@post.image) %>"></image>
  <%end %>
  <%= form.label "Update Image"%>
  <%= form.file_field :image%><br>


  <div class="actions">
    <%= form.submit %>
  </div>

  <%#= button_to 'Create' , topic_posts_path(@topic), id: 'new_post_req' %>


<% end %>
