<p id="notice"><%= notice %></p>
<h1>Posts</h1>

<table>
  <thead>
  <tr>
    <th>Posts</th>
    <th>Average Rating</th>
    <th>Comments Count</th>
    <th>Read Status</th>
    <th>Topic Name</th>
  </tr>
  </thead>

  <tbody>
  <div id = "post-section">
  <div class = "posts"  data-topic-id = "<%=@topic.id if !@topic.nil?%>" data-user-id = "<%= current_user.id %>">
  <% @posts.each do |post| %>
    <tr>
    <td>
      <div class="all_post" data-post-id = "<%=post.id%>">
        <%unless @topic.nil? %>
      <p><%= link_to post.title, topic_post_path(@topic,post), id: 'read_req'%></p>
        <%else %>
        <p><%=post.title %></p>
        <%end %>
        <p><%= post.ratings.average(:stars) %></p>
      <p><%= post.comments.count %></p>
      <p id = "read_status"><%= check_user_read_status(current_user, post) %></p>
        <p><%=post.topic.title %></p>
        <% if params.has_key?(:topic_id) %>
      <p><%= link_to 'Edit', edit_topic_post_path(@topic, post) %></p>
      <p><%= link_to 'Destroy', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <%end%>
      </div>
    </td>
    </tr>
  <% end %>
  </div>
  </div>
  </tbody>
</table>

<br>

<%if @topic.nil? %>
<div>
  <%= will_paginate @posts, :container => false %>
</div>
<%end %>
<% if params.has_key?(:topic_id) %>
<%= link_to 'New Post', new_topic_post_path , remote:true,id: 'new_post_req' %>
<%end %>

<div id = 'form_post'></div>

<%= link_to 'Back To Topic' , topics_path %>

<script>
    window.addEventListener("load" , () => {
        var read_status = document.getElementById('read_status');
        var read_req = document.getElementById('read_req');
        var new_post_req = document.getElementById('new_post_req');
        const all_posts = document.querySelectorAll('.all_post');
        const posts = document.querySelectorAll('.posts');
        var token = document.querySelector('meta[name="csrf-token"]').content

        const topic_id = posts.getAttribute('data-topic-id');
        const user_id = posts.getAttribute('data-user-id');

        var form_post = document.getElementById('form_post');

        all_posts.forEach((post) => {
            post.addEventListener('click' , () =>{
                console.log("Post clicked!");
                const post_id = post.getAttribute('data-post-id');

                // sending request
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    console.log(xmlhttp);
                    if (xmlhttp.readyState == 4) {
                        if (xmlhttp.status == 200) {
                            if (read_status.innerText === "Unread") {
                                read_status.innerText = "Read";
                                alert('You read the post')
                            }
                        } else {
                            alert(xmlhttp.status);
                            alert('There was error');
                        }
                    }
                }
                xmlhttp.open('POST', '/change_read_status' , true);
                xmlhttp.setRequestHeader('Content-Type', 'application/json');
                let data = {id: post_id, topic_id: topic_id, user_id: user_id};
                xmlhttp.setRequestHeader('X-CSRF-Token',token);
                xmlhttp.send(JSON.stringify(data));

            });
        });
    });
</script>