<p id="notice"><%= notice %></p>

<p>
  <strong>Topic</strong>
  <%= @topic.title %>
</p>
<p> Post </p>
  <p>
  <strong>Post title</strong>
  <%= @post.title %>
  </p>

  <p>
  <strong>Post About</strong>
  <%= @post.description %>
  </p>

  <p>
  <strong>Author Name</strong>
  <%= @post.author_name %>
  </p>

<strong>Tags:</strong>
<%= @post.tags.each do |tag| %>
  <%= link_to tags_index_url do%>
    <span><%= tag.name.capitalize %></span>
  <%end %>
<%end %>

<%= link_to 'Edit', edit_topic_post_path(@post) %> |
<%= link_to 'Back', topic_posts_path %>


<p>Comments</p>
  <% @comment.each do |comment| %>
      <p><%= comment.com_description %></p>
<!--      <p><%#= link_to 'Edit', edit_topic_post_comment_path(@post, comment) %></p>-->
<!--      <p><%#= link_to 'Destroy', [@topic, @post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>-->
  <% end %>

<br>

<% @comment = Comment.new %>
<%= render 'comments/form', comment: @comment %>
