<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<p>
  <strong>Topic</strong>
  <%= @topic.title %>
</p>
<p> Post </p>
  <p>
  <strong>Post title</strong>
  <%= @post.title %>
  </p>

  <p>
  <strong>Post About</strong>
  <%= @post.description %>
  </p>

  <p>
  <strong>Author Name</strong>
  <%= @post.author_name %>
  </p>

<strong>Tags:</strong>
<%= @post.tags.each do |tag| %>
  <%= link_to tags_index_url do%>
    <span><%= tag.name %></span>
  <%end %>
<%end %>


<p>Comments</p>
  <% @comments.each do |comment| %>
      <p><%= comment.com_description %></p>
<!--      <p><%#= link_to 'Edit', edit_topic_post_comment_path(@post, comment) %></p>-->
<!--      <p><%#= link_to 'Destroy', [@topic, @post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>-->
  <% end %>

<% if @post.image.attached? %>
  <image src = "<%= url_for(@post.image) %>"></image>
  <%end %>

<%# for i in (0..5) do %>
  <%#= @ratings.find_by(stars = 10).count %>
<%# end %>
<% counting = [0,0,0,0,0,0] %>
<% @ratings.each do |rate| %>
  <% counting[rate.stars] = counting[rate.stars] + 1%>
<% end %>
<% (0..5).each do |i| %>
  <p>
  <strong><%= i %> => </strong>
  <%= counting[i] %>
  </p>
<% end %>

<% @rating = @post.ratings.new %>
<%= render 'ratings/form' , post: @post, topic: @topic, rating: @rating%>

<% @comment = Comment.new %>
<%= render 'comments/form', comment: @comment %>


<%= link_to 'Edit', edit_topic_post_path(@topic, @post) %> |
<%= link_to 'Back', topic_posts_path %>

